body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  background-color: black;
  color: white;
}

.main {
  padding: 5px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 86dvh;
  border: 2px solid red;
  
}
#container{
  display: flex;
  align-items: center;
  gap: 20px;
    border: 2px solid red;

}
#input-box,
#search-input {
  padding: 10px;
  border-radius: 10px;
  /* margin: 10px; */
}
#add-button {
  padding: 10px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  cursor: pointer;
}
#tag-container {
  margin-top: 20px;
  margin-bottom: 50px;
    border: 2px solid red;

}
.items {
  box-shadow: rgba(255, 255, 255, 0.02) 0px 1px 3px 0px,
    rgba(255, 255, 255, 0.15) 0px 0px 0px 1px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.items.selected {
  background-color: #007bff;
  color: white;
}
#plans-container {
  max-height: 75%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 2px solid gray;
  padding-top:10px ;
}
#plans-container::-webkit-scrollbar {
  display: none;
}
.plans {
  display: flex;
  justify-content: space-between;
  /* gap: 5px; */
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
}
.no-plan{
  text-align: center;
 font-size: 18px;
}
.show-tag {
  border: 1px solid rgb(186, 186, 186);
  padding: 8px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
}
#clear-all {
  display: block;
  padding: 10px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.back-to-top {
  position: fixed; /* changed from absolute */
  bottom: 20px;
  right: 20px;
  opacity: 0;
  pointer-events: none;
  background-color: #2d73db;
  color: white;
  /* border: none; */
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
  height: 80px;
  width: 80px;
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

.back-to-top:hover {
  background-color: #1c6be0;
}



@media (min-width:1024px){
  .no-plan{
  text-align: center;
 font-size: 30px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  background-color: black;
  color: white;
}

.main {
  padding: 25px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 100%;
  height: 86dvh;
}
}